/* Обнуление стилей браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('D:\Работа\Удаленка\Учимся QA\shatalov.site'); /* Замените 'your-photo.jpg' на путь к вашему изображению */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    background: rgba(0, 0, 0, 0.6); /* Затемнение фона текста */
    color: #fff;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    margin-right: 5%;
    text-align: right;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
}

/* Адаптивность */
@media (max-width: 768px) {
    .content {
        margin-right: 2%;
        max-width: 300px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}